<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.c.coders">
	<uses-permission	android:name="android.permission.INTERNET"/>
	<uses-permission	android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application
		android:allowBackup="true"
		android:label="C Coders"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".SplashActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".BasicsActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".AboutmeActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".AsciiActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".MathActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".Array1Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".Array2Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".StringActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".FunctionActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".StorageActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".RecursionActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".PointersActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".StructureActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".FileActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".PatternActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".SortingActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".SearchActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".SeriesActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".ConversionActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".NumberActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".LetuscActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".SettingActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".ReferenceActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".AlphabetpActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".B11Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
	</application>
</manifest>
